/*------------------------------------------- анатомія -------------------------------------------*/

/* селектор - запит або пошук елемента в html файлі до якого підключений данний css файл */
/*
селектор{ -відкриваємо фігурну дужку
   css параметр; - параметр закриваеємо крапка комою 
   css параметр;
   css параметр;
   css параметр;
   ...           - безліч css параметрів
   css параметр;
} - закриваємо фігурну дужку
*/

/* css параметр - (дивитись запис нижче) */
/*
    css властивість:значення властивості; 
*/



/*------------------------------------------- типи селекторів -------------------------------------------*/

/* 1. селектор тегу - шукаємо або робимо запит по назві тегу та надаємо параметр */
/* div{
    color: red;
}
a{
    color: green;
} */

/* 2. селектор класу - шукаємо або робимо запит по назві класу та надаємо параметр */
/* спочатку КРАПКА потім імя класу */
/* .text{
    color: blueviolet;
} */

/* 3. селектор ID - шукаємо або робимо запит по назві ID та надаємо параметр */
/* спочатку # потім імя ID */
/* #block{
    color: magenta;
} */


/*---------------------------------------- комбінації селекторів ----------------------------------------*/

/* усі div з класом text */
/* div.text{
    color: aqua;
} */

/* усі div з класом text та lesson ОДНОЧАСНО */
/* зверни увагу діє лише на тому де і те і те, там де по одному воно не працює */
/* .text.lesson{
    color: darkorange;
} */

/* звернення відразу до кількох класів */
/* ЧЕРЕЗ КОМУ, пишемо в стовпчик */
/* .bla,
.blabla{
    color:violet;
} */

/*---------------------------------- каскадність (вкладеність) селекторів ----------------------------------*/

/* ми хочемо звернутись до чогось(парграфів) ТІЛЬКИ якщо у їх батьківського елемента є певний обект з класом (texxt)*/
/* ОБОВЯЗКОВО ПРОБІЛ  МІЖ ЕЛЕМЕНТАМИ */
/* .texxt p{
    color: lawngreen;
}  */

/* усі обєкти з класом lesson в середині обєктів з класом text */
/* ПРОБІЛ ОБОВЯЗКОВИЙ */
/* .text .lesson {
    color: lawngreen;
} */

/* усі теги P першого рівня (безпосередньо) в середині обєктів з класом text */
/* звернутися лише до безпосередніх обєктів */ 
/* .erex > p{
    color: blue;
} */

/* усі теги P які знаходяться далі по коду після обєктів з класом(erexx) та мають той самий рівень вкладеності  */
/* далі по коду */
/* .erexx ~ p{
    color:red;
} */

/* усі теги P які знаходяться далі по коду після обєктів з класом(erexx) та мають той самий рівень вкладеності  */
/* працює лише з тим першим обєктом який йде безпосередньо першим після  */
/* .erexxe + p{
    color:plum;
} */

/* селектор зірочка */
/* шукаємо(робимо запит) до всіх обєктів */
/* *{
    color: black;
} */

/* звернутися до абсолютно всіх обєктів в середині обєктів з класом текст */
/* .text *{
    color: coral;
} */

/*------------------------------------------- типи селекторів -------------------------------------------*/
a{
    color: darkgreen;
}
.onetext{
    color: blueviolet;
}
#block{
    color: magenta;
}

/*---------------------------------------- комбінації селекторів ----------------------------------------*/
div.text{
    color: aqua;
} 
.lesson{
    color: orange;
}
.text.lesson{
    color: darkcyan;
} 
.mister,
.and,
.margarita{
    color:violet;
}

/*---------------------------------- каскадність (вкладеність) селекторів ----------------------------------*/
.book p{
    color: forestgreen;
}
.penal .pen{
    color: darkmagenta;
}

.pervuyyroven > p{
    color: tomato;
}

.werx ~ div{
    color:red;
}

.omygud + p{
    color: sienna;
}

/* *{
    color: black;
} */

.text *{
    color: yellowgreen;
}